body {
  margin: 0;
  font-family: 'Courier New', Courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #C21175 , #01D5DF);
}

code {
  font-family: 'Courier New', source-code-pro, Menlo, Monaco, Consolas, 
    monospace;
}

button{
  cursor: pointer;
}